.TheAbout1GeneralDiv{
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.TheAbout1SubGeneralDiv{
  width: 525px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.About1TextDiv{
  color: #bc110d;
  font-size: 40px;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
}

.Str1{
  font-size: 40px;
  font-weight: lighter;
}
.Str2{
  font-size: 40px;
  font-weight: bold;
}
.Str3{
  font-size: 40px;
  font-weight: bold;
}
.Str4{
  font-size: 60px;
  font-weight: bold;
}

@media screen and (max-width: 768px){
  .Str4{
    font-size: 40px;
  }

  .Str2{
    font-size: 30px;
  }
  .Str3{
    font-size: 30px;
  }

  .Str1{
    font-size: 25px;
  }
}

.Str5{
  font-size: 30px;
  font-weight: lighter;
}